#body{
    margin: 0%;
    padding: 0%;
    overflow: auto;
    background-color: #000000;
    z-index: 0;
    background-image: url("white_bg_1.jpg");
   background-size: contain;
  
}

#upper-menu{
    display: flex;
    width: 90%;
    height: fit-content; 
    margin-left: 5%;
    background-color: white;    
    z-index: 8;
    cursor: pointer;

}
#upper-menu label{
    font-family: Arial;
    font-size: 14px;
}
#stroke-div{
    padding-left: 0.5%;
    border: 1px solid purple;
    margin-left: 1%;
}
#line-div{
    padding-left: 0.5%;
    border: 1px solid purple;
    margin-left: 2%;
}
#mode-change{
    padding-left: 1%;
    border: 1px solid purple;
    margin-left: 2%;
}
#canvas-section{
    border: 2px green solid;
    margin-left: 5%;
    width: 90%;
    z-index: 8;
    background-color: white;
    cursor: crosshair;
}

